<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/icon.jpeg">
    <title>Mind Over Matter</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body style="color: white;">
    <div class="topbar">
        <header>
            <a href="/" class="logo">MIND OVER MATTER</a>
            <div class="user-profile">
                <span class="username">Hello!!<%= user ? user.name : 'Guest' %></span>
            </div>
            
            <ul class="topbar_list">
                <li><a href="/">LOGOUT</a></li>
                <li><a href="/doctorList">DOCTORS-LIST</a></li>
                <li><a href="/inTake">IN-TAKE</a></li>
                <li><a href="/addreview">ADD REVIEW</a></li>
                <li><a href="/reviews">PUBLIC REVIEW</a></li>
            </ul>
            <div class="bx bx-menu" id="menu-icons"></div>
        </header>
    </div>
    <section class="hero-headings">
        <div class="hero-headings-inside">
            <h5>Enhancing Lives</h5>
            <h4>Building Bridges</h4>
            <h1>MIND OVER MATTER</h1>
            <p>"Empowering individuals with disabilities through advocacy, accessibility, and support, fostering a more inclusive and equitable society."</p>
            <a href="#">Discover more</a>
        </div>
        <div class="main-img">
            <img src="/images/img1.jpeg" alt="">
        </div>
    </section>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/script.js"></script>
</body>
</html>
